@model News.Models.Domin.Tbl_User

@{
    ViewBag.Title = "ثبت نام";
    Layout = "~/Views/Shared/_Register.cshtml";
}

    @*using (Html.BeginForm()) *@
    @Html.AntiForgeryToken()
    
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


<form class="login100-form validate-form" action="Register" method="post">
    <span class="login100-form-title p-b-49" style="font-family: 'Titr' !important">
        ثبت نام
    </span>
    <div class="wrap-input100 validate-input m-b-23" >
       
        <span style="display:block; font-family:'Titr'; text-align:right; color:blue">نام کاربری</span>
            @Html.TextBoxFor(model => model.User_Name, new { @style = "", @placeholder = "شناسه کاربری را وارد کنید", name = "username" })
            @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })
        </div>

    <div class="wrap-input100 validate-input m-b-23">
        <span style="display:block; font-family:'Titr'; text-align:right; color:blue">شناسه الکترونیکی</span>
            @Html.TextBoxFor(model => model.User_Email, new { @style = "", @placeholder = "نشانی الکترونیکی خود را وارد کنید ", name = "email" })
            @Html.ValidationMessageFor(model => model.User_Email, "", new { @class = "text-danger" })
        </div>

    <div class="wrap-input100 validate-input" data-validate="Password is required">
        <span style="display:block; font-family:'Titr'; text-align:right; color:blue">رمز عبور</span>
            @Html.TextBoxFor(model => model.User_Password, new { @style = "", @placeholder = "رمز عبور را وارد کنید",@type="password" ,name = "password" })
            @Html.ValidationMessageFor(model => model.User_Password, "", new { @class = "text-danger" })
        </div>

    <div class="text-right p-t-8 p-b-31">
    </div>
    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" formaction="../Register/Register" style="font-family: 'Titr' !important"> ثبت نام </button>
        </div>
    </div>
    <div class="flex-col-c p-t-155">
        <span class="txt1 p-b-17" style="font-family: 'Nasim' !important">
           یا وارد حساب کاربری شوید
        </span> <a href="http://localhost:1210/Register/Login" class="txt2" style="font-family: 'Nasim' !important">
            ورود
        </a>
    </div>
</form>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
