@model News.Models.Domin.Tbl_Posts
@using News.Models.Repositoty;

@{
    ViewBag.Title = "User_Profile";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<section id="contentSection">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="">
                <div class="single_post_content">
                    <h2><span class="Font_Titr">پست های من</span></h2>
                    
                    @{
                        Rep_posts post = new Rep_posts();
                        bool x = true;
                        foreach (var item in post.Get_MyPost(@ViewBag.id))
                        {

                            if (x)
                            {
                                <div class="single_post_content_right">
                                    <ul class="business_catgnav  wow fadeInDown">
                                        <li>
                                            <figure class="bsbig_fig">
                                                <a href="pages/single_page.html" class="featured_img"> <img alt="" src="@item.Post_Image"> <span class="overlay"></span> </a>
                                                <figcaption> <a class="Font_Titr" href="pages/single_page.html">@item.Post_Title</a> </figcaption>
                                                <p>@item.Post_Summery</p>
                                                <a class="btn_continue"  href="../MainPage/View_Post?id=@item.Post_id">ادامه</a>
                                                <a class="btn_continue" style="background:#eb0000" href="../MainPage/View_Delete?id=@item.Post_id">حذف</a>
                                                <a class="btn_continue" style="background:#1f00eb" href="../MainPage/View_Edit?id=@item.Post_id">ویرایش</a>
                                            </figure>
                                        </li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <div class="single_post_content_left">
                                    <ul class="business_catgnav  wow fadeInDown">
                                        <li>
                                            <figure class="bsbig_fig">
                                                <a href="pages/single_page.html" class="featured_img"> <img alt="" src="@item.Post_Image"> <span class="overlay"></span> </a>
                                                <figcaption> <a class="Font_Titr" href="pages/single_page.html">@item.Post_Title</a> </figcaption>
                                                <p>@item.Post_Summery</p>
                                                <a class="btn_continue" href="../MainPage/View_Post?id=@item.Post_id">ادامه</a>
                                                <a class="btn_continue" style="background:#eb0000">حذف</a>
                                                <a class="btn_continue" style="background:#1f00eb" href="../MainPage/View_Post?id=@item.Post_id">ویرایش</a>
                                            </figure>
                                        </li>
                                    </ul>
                                </div>
                            }
                            x = !x;
                        }
                    }



                </div>
            </div>
            <div class="">
                <div class="single_post_content">
                    <h2><span class="Font_Titr">پست جدید</span></h2>
                    <section id="new_post">
                        <form action="Add_Post" method="post" class="new_post_add" enctype = "multipart/form-data">
                            <label for="txt_title">عنوان</label>
                            <br />

                            @Html.TextBoxFor(model => model.Post_Title, new { @style = "", @placeholder = "عنوان پست را وارد کنید", name = "title" })
                            @Html.ValidationMessageFor(model => model.Post_Title, "", new { @class = "text-danger" })
                            <br />
                            <label for="txt_title">خلاصه</label>
                            <br />

                            @Html.TextAreaFor(model => model.Post_Summery, new { @style = "", @placeholder = "خلاصه ای از توضیحات را وارد کنید", name = "summery" })
                            @Html.ValidationMessageFor(model => model.Post_Summery, "", new { @class = "text-danger" })
                            <br />
                            <label for="txt_title">توضیحات</label>
                            <br />

                            @Html.TextAreaFor(model => model.Post_Description, new { @style = "", @placeholder = "توضیحات کامل را وارد کنید", name = "description" })
                            @Html.ValidationMessageFor(model => model.Post_Description, "", new { @class = "text-danger" })
                            <br />
                            <label for="txt_title">عکس</label>
                            <br />
                            <div class="input-file-container" style="direction:rtl; float:right">
                                <input class="input-file" id="my-file" type="file" name="file">
                                <label tabindex="0" for="my-file" class="input-file-trigger" style="font-family:'Nasim' !important;text-align:center !important"  >انتخاب فایل</label>
                            </div>
                            <br><br><br><br>
                            <label for="txt_title">خبر فوری</label>
                            <input type="checkbox" name="Isbreak" value="1" style="width:auto !important; height :auto !important"/>
                            <br>
                            <br/>
                            
                            <input class="btn_send" type="submit" value="ارسال" />
                            <br />
                            <br />
                        </form>
                    </section>
                </div>
            </div>
        </div>

    </div>
</section>
